{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
<style type="text/css">
    body {
        overflow: hidden;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#555+18,161616+100 */
        background: #555; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #555 18%, #161616 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, #555 18%,#161616 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(circle at 60% bottom, #555 18%,#161616 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
</style>
<div class="menu_bar">
    {% for btn in items_menu %}
    <div class="button_container">
        <div class="fondo {% if btn.selected %}resaltado{% endif %}"></div>
        <div class="button"><a href="{% url btn.view %}">{{ btn }}</a></div>
    </div>
    {% endfor %}

    <div class="user_details">
        <div class="user_currency">
            <div class="fuel">avail fuel</div>
            <div class="money">avail money</div>
        </div>    
        <div class="user_profile">
            {{ user_id }}
        </div>
    </div>
</div>    
{% include "game/rombos_moviles.html" %}
{% block content %}
{% endblock %}
