.almacen {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: lightgray;
}
.almacen .pieza {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 174px;
  height: 195px;
  margin: 5px 10px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-top: solid 4px;
  font-weight: bold;
}
.almacen .pieza .nombre {
  align-self: flex-start;
  width: 100%;
  height: auto;
}
.almacen .pieza .existencia {
  align-self: flex-end;
  width: 100%;
  height: auto;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 5px;
}
.menu_bar {
  display: flex;
  flex-direction: row;
  height: 78px;
}
.menu_bar .button_container {
  width: 155px;
  height: 78px;
  margin: 0;
}
.menu_bar .button_container .fondo {
  background-image: url('../images/menu_bar_button_background.jpg');
  width: 155px;
  height: 78px;
  transform: skewX(-20deg);
  z-index: 1;
}
.menu_bar .button_container .fondo.resaltado {
  background-image: url('../images/menu_bar_button_background_selected.jpg');
}
.menu_bar .button_container .button {
  margin-top: -78px;
  width: 155px;
  z-index: 2;
  position: absolute;
  text-align: center;
}
.menu_bar .button_container a {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  line-height: 78px;
  font-size: 1.1em;
}
